name: Rust and container build checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
  fmt:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run cargo fmt
      run: cargo fmt -- --check
  clippy:
    name: Clippy lints
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run cargo clippy
      run: cargo clippy --tests -- --deny warnings
  pod-build:
    name: Container build test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run podman build
      run: podman build .
